.katex-display{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.mb-6{
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
}
.block-1{
    display: flex;!important;
    align-items: center;
}

.choices-quest{
    margin: 0.25rem;
}
